nav{
    height: 55px;
    width: 600px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
}
.logo{
    height: 25px;
    width: 25px;
    margin-top: 12px;
    margin-left: 220px;
}

.text{
    margin-left: 6px;
    margin-top: 14px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
}